.create_file-container {
	height: 20vh;
	width: 30%;
  	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}
.add-container {
  display: flex;
}

h2 {
	margin: 0;
}

.tracklist {
	display: flex;
	flex-direction: column;
	&__song {
		padding: 1rem;
	}
}