.list-page-container {
  width: 30%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.list-page-container__song {
	margin: 0;
	padding: 1rem 0;
}
h1 {
	margin: 0;
}

.test-container {
  margin: 0  0 1.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.test-container-dicription {
  margin-top: 0;
}

.test-container-button {
  margin: 0 1rem;
}