@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header-container {
  height: 10vh;
  background-color: #040C0E;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container-logo {
  margin: 0;
  padding-left: 3rem;
  color: #BE9063;
  font-family: 'Dancing Script', cursive;
}