.logged-button {
  margin-right: 3rem;
  color: white;
  background-color: black;
  border-radius: 0.5rem;
  border: 0.2rem solid;
  border-color: white;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: white;
    color: black;
  }
}
